<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Here</h1>
  <a href="{{ url_for('main.admin_stuff') }}"></a>
  <form action="{{ url_for('main.login') }}" method="POST">
    Username: <input type="text" name="username" id="username">
    Submit <input type="submit" value="Login!">
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated %}
    Hi {{ current_user.name }}
  {% endif %}
</body>
</html>